<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Contact Us | About Us | Privacy Policy | Copyright © 2022 NewsApp. All rights reserved.
      <!-- <a class="text-dark" href="/">newsapp.com</a> -->
      <!-- <p class="text-right">
        Follow Us : 
        <mat-icon>facebook</mat-icon>
        <mat-icon>twitter</mat-icon>
        <mat-icon>youtube</mat-icon>
        <mat-icon>instagram</mat-icon>
      </p> -->
    </div>
    <!-- Copyright -->
  </footer>