<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top:20px; margin-bottom: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/icon.png" height="105px" alt="" />
                </div>
                <h1 class="text-center">Register Here!!</h1>
                <form >
                    <!--first name field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First name</mat-label>
                        <input  matInput placeholder="Enter here">
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>

                      <!--Last name field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last name</mat-label>
                        <input  matInput placeholder="Enter here">
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>

                      <!--email field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>email address</mat-label>
                        <input type="email" matInput placeholder="Enter here">
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>

                    <!--username field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter here">
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>

                       <!--Password field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Password</mat-label>
                        <input type="password" matInput placeholder="Enter here">
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>

                      <!--Phone no. field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>phone</mat-label>
                        <input type="number"matInput placeholder="Enter here">
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                      <div class="container text-center" >
                          <button mat-raised-button color="primary" > Register</button>
                          <button style="margin-left: 20px;" mat-raised-button color="accent" > Reset</button>
                      </div>
                </form>

            </div>
        </div>
    </div>
</div>
